.navbar{
     display: flex;
     flex-direction: row;
    background-color: lightgreen;
     justify-content:space-between; 
     height: 70px;
     font-size: 30px;
}
.nav-right a{
    text-decoration: none;
    color: black;
    padding: 10px;
    

}
.nav-left{
    padding: 15px;
    align-content: center;
}
.nav-right{
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar nav-left:hover{
    color: blue;
    background-color: aqua;

}
.nav-right a:hover{
    color: blue;
    background-color: red;
}